<!DOCTYPE html>
<html>
<head><link href="../../bootstrap.min.css" rel="stylesheet"></head>
<body>

    <div class="container">
    {form $form}

    {pair grouped-name}
	{pair grouped-name, input-class => "input-large"}
	{pair grouped-name, input-class => "input-small"}
	{pair grouped-name, label-class => "required"}

    {/form}
	</div>

</body>
</html>
